Revision history of the Treex-Parser-MSTPerl distribution:

VERSION      DATE
    - the first release at CPAN


For detailed log of changes see
https://svn.ms.mff.cuni.cz/projects/tectomt_devel/log/trunk/treex/lib/Treex/Tool/Parser/MSTperl
(Use 'public' username and same password)
